/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Font
  .montserrat-<uniquifier> {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* site styles */

body {
  background-color: #f2f2f2;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #262523;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #262523;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #262523;
}

p {
  color: #262523;
}

a {
  color: #f27a5e;
  -webkit-transition: font-size 0.3s;
  -o-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

a:visited {
  color: #a68077;
}

a:focus,
a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
  font-size: 14px;
}

a:active {
  /* selected link */
  color: #f2f2f2;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #262523;
}

.page-header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
}

.page-header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page_footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 40;
  padding: 40px;
  background-color: #ba9d97;
}

.page_footer p {
  font-size: 20px;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Home page styles */
.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #733c30;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px;
}

.profile a {
  color: #733c30;
}

/* About page */

.about_headshot {
  float: left;
  width: 250px;
  height: auto;
  margin: 40px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #733c30;
}

.about {
  max-width: 80%;
  margin: auto;
  padding: 40;
}

.skills-table {
  border: 2px solid #733c30;
  border-collapse: collapse;
}

.skills-table th {
  border: 1px solid  #733c30;
  padding: 10px;
}

td {
  border: 1px solid  #733c30;
  padding: 10px;
}

.skills-table th {
  background-color: #f27a5e;
  color: #262523;
}

.skills-table tr:nth-child(even) {
  background-color: #dbd9d9;
}

.cv {
  display: flexbox;
  max-width: 80%;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 60px;
}

.cv a {
  color: #262523;
  text-align: center;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  background-color: #f27a5e;
  color: var--(primary-color-dark);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #262523;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  background-color: #f27a5e;
  color: var--(primary-color-dark);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #262523;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  font-size: 14px;
}

/* Work page */

.work {
  padding-left: 40px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 40px;
}

.grid_item {
  background-color: #f27a5e;
  padding: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer; /* Changes the pointer to a hand */
}

.grid_item a {
  color: #262523;
}

.grid_item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05); /* Grows by 5% */
}

/* Contact page */
.contact {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 40;
}

.contact a {
  color: #733c30;
}

#contact-form {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #a68077;
  border-radius: 5px;
}

#contact-form input {
  width: 100%;
  padding: 10px;
}

#contact-form textarea {
  width: 100%;
  height: 100px;
}

.standard-label {
  font-weight: 600;
}

.submit {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  background-color: #f27a5e;
  color: #262523;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #262523;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.submit:hover,
.submit:focus {
  cursor: pointer;
  opacity: 0.6;
  font-size: 14px;
}

.submit:active {
  background-color: #f2f2f2;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
